.table_grid {
    height: 100%;
}

.loading_text {
    background-color: black;
    color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 10px;
}